.topo{
    height: 34px;
    background-color: #F8F8F8;
    padding-right: 5%;
    text-align: center;
}
a.acessar{
    color: #345D9D;
}
.icone-profile{
    width: 15px;
    height: 15px;
}
.navbar-brand{
    padding-left: 5%;
}
.acessar{
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 17px;
}
.navbar{
    background-color: #FFFFFF;
    height: 105px;
}
nav li{
    display: inline;
    margin: 0 0 0 40px;
}
.nav-link{
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 16px;
    color: #3C3C3B;
}
.botao-agendar{
    border-radius: 26px;
    height: 46px;
    width: 220px;
    background-color: #63D4FC;
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 16px;
    border: 0px;
}
.msg-contato{
    height: 336px;
    background-color: #63D4FC;
    text-align: center;
    padding-top: 85px;
}
.titulo-contato{
    font-family: 'Signika Negative';
    font-size: 34px;
    font-weight: bold;

}
.texto-contato{
    font-family:'Open Sans';
    font-size: 16px;
    margin-bottom: 17px;
}
.botao-contato{
    border-radius: 26px;
    height: 46px;
    width: 286px;
    background-color: #345D9D;
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 16px;
    border: 0px;
    color: #FFFFFF;
    margin-left: 34px;
}
.title-form{
    font-family: 'Signika Negative';
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.text-form{
    font-family:'Open Sans';
    font-size: 16px;
    text-align: center;
}
.bg-white{
    border-color: #D9D9D9;
}
.checkbox{
    font-family:'Open Sans';
    font-size: 12px;
    color: #B4B4B4;
}
a.politica{
    color: #B4B4B4;
}
.button-form{
    border-radius: 26px;
    height: 60px;
    background-color: #63D4FC;
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 19px;
    border: 0px;
}
.button-vaga{
    height: 46px;
    background-color: #345D9D;
    color: #FFFFFF;
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 16px;
    border: 0px;
    border-radius: 26px;
}
.form{
    margin: 0 10% 0 10%;
}
#contact-area{
    background-color: #345D9D;
}
.text-footer{
    margin: 20px 0 20px 0;
    color: #FFFFFF;
    font-family:'Open Sans';
    font-size: 14px;
}
.icone{
    margin-right: 15px;
}
.text-uppercase{
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 14px;
}
.text{
    font-family:'Open Sans';
    font-weight: normal ;
    font-size: 14px;
    color: #FFFFFF;
}
.text-copyright{
    font-family: 'Museo Sans, 500';
    color: #FFFFFF;
    font-size: 10px;
}