.topo{
    height: 34px;
    background-color: #F8F8F8;
    padding-right: 10%;
}
.icone-profile{
    width: 15px;
    height: 15px;
}

.acessar{
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 17px;
}
.navbar{
    background-color: #FFFFFF;
    height: 105px;
}
nav li{
    display: inline;
    margin: 0 0 0 40px;
}
.nav-link{
    font-family: 'Signika Negative';
    font-weight: bold;
    font-size: 16px;
}
